<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCscmSjYkpBK6r3KuyW4fI29bXusLaalZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>498580446520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.enspyr.tindart</string>
	<key>PROJECT_ID</key>
	<string>tindart-8c83b</string>
	<key>STORAGE_BUCKET</key>
	<string>tindart-8c83b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498580446520:ios:6275536b0067c79ac135cd</string>
</dict>
</plist>